body {
  font-family: 'Open Sans', 'Libre Franklin', sans-serif;
  height: auto;
  margin: 0;
}

/* BANNER */
#LogoContainer {
  background-image: url(../images/logo_banner.png);
  height: 115px;
  padding: 0 20px;
}

#Logo {
  background: transparent url(../images/logo.png) no-repeat left center;
  background-size: 211.68px 75px;
  height: 115px;
  max-width: none;
}

.container_div {
  text-align: center;
  margin: 3em;
  margin-bottom: 100px;
}

.textDiv {
  text-align: left;

  font-size: 18px;
  color: #43464d;
  padding: 20px;
  line-height: 1.5em;

  max-width: 770px;
  margin: 0 auto;
}

.article {
  width: 620px;
  text-align: left;
  display: inline-block;
}

.articleText {
  padding-top: 20px;
}

#fullArticle {
  padding-top: 35px;
  width: 620px;
  text-align: left;
  display: none;
}

.feedback {
	text-align: center;
  margin-bottom: 25px;
  height: 19.2px;
}

#comparison-container {
  padding-bottom: 20px;
}

.grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}
.grid path {
	stroke-width: 0;
}

#continueErrorMessage {
  color: #ff0033;
  font-weight: bold; 
}

/* http://bl.ocks.org/davegotz/bd54b56723c154d25eedde6504d30ad7 */
.d3-tip {
	line-height: 1;
	padding: 9px;
	background: rgba(0, 0, 0, 1);
	color: #fff;
	border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
}
.d3-tip:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: transparent black transparent transparent;
	top: 9.5px;
  left: -12px;
  pointer-events: none;
}

.d3-tip-hint {
	line-height: 1;
	padding: 9px;
	background: rgba(0, 0, 0, 1);
  /* background:red; */
	color: #fff;
	border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip-hint:after {
  content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	top: 31px;
  left: 109px;
  pointer-events: none;
}

/* DRAGGABLE FUCTIONALITY */
.overlay, .handle--s {
	pointer-events: none;
}
.selection {
	fill: #3F3F3F;
	fill-opacity: 1;
	stroke: none;
	cursor: default;
	pointer-events: all;
}
.brush {
  pointer-events: all;
}

#brush5>.handle--n {
  pointer-events: none;
}

#buttonDiv {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}

.button {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  transition: background .3s;
  background-color: #116e8a;
  float: right;
}
