html {
  width: 100%;
}

body {
  font-family: 'Noticia Text', serif;
  margin: 0px;
  width: 100%;
}

.container_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em 0em;
}

.iFrameDiv {
  overflow: auto;
}

.article {
  max-width: 816px;
  text-align: left;
  display: inline-block;
	margin-bottom: 20px;
  font-size: 20px;
  padding: 15px;
}

.article h1 {
  font-size: 44px;
  font-weight: 700;
}

.articleText {
  padding-top: 20px;
}

@media only screen and (min-width: 960px) {
  .container_div {
    align-items: center;
  }
}