html {
	height: 100%;
}

body {
	font-family: 'Open Sans', 'Libre Franklin', sans-serif;
	height: 100%;
	margin: 0;
	background-color: whitesmoke;
}

.containerDiv {
	width: 100%;
	min-width: 960px;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}


.iFrame {
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
	background-color: white;
	padding: 20px 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #787b87;
  text-align: center;
}

a {
	color: #6545CC;
}