:root {
	--mdc-theme-primary: #7e57ff;
	--mdc-theme-secondary: #b9a3ff;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: left;
	height: Calc( 100% - 64px );
}

#inputDiv {
	flex: 0 0 300px;
	padding: 2em;
	min-height: 800px;
}

#formDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	min-width: 300px;
}

.helperTextDiv {
	display: flex;
	flex-direction: column;
}

#previewDiv {
	flex: 8;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	background-color: #fafafa;
	padding: 2em;
	min-width: 942px;
}

#iFrameDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;	
}

.mdc-button {
	height: 48px; 
}

#outputContainer {
	flex: 0 0 364px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2em;
}

#outputDiv {
	display: flex;
	flex-direction: column;
}

#madeBy {
	text-align: center;
	font-weight: 300;
}

button {
	font-size: 14px;
}

.header {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.2em;
	padding-bottom: 0.8em;
}

.outputSubHeader {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 24px;
	padding-bottom: 0.8em;
}

.outputBtn {
	margin-bottom: 1em;
}

#filler {
	height: 1em;
}


/* TOPBAR */
.mdc-top-app-bar {
	background-color: #6545CC;
	height: 72px;
}

.mdc-top-app-bar__title {
	font-weight: 100 ;
	font-size: 32px ;
	font-style: italic;
	height: 48px;
	line-height: 48px;
}

.topbarBtnRight {
	margin-right: 20px;
	width: 145px;
}

.topbarBtn {
	margin-right: 10px;
	width: 145px;
}

.topbarBtnText {
	color: white;
}

.mdc-top-app-bar__row {
	display: flex;
	justify-content: space-between;
	padding: 12px;
}